<h1>Welcome to Home</h1>
<form action="/upload/image" method="post" enctype="multipart/form-data">
    <label for="image">Upload Image: </label>
    <input type="file" id="image" name="image" accept="image/*" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <input type="submit" />
</form>
<br />
<form action="/upload/video" method="post" enctype="multipart/form-data">
    <label for="video">Upload Video: </label>
    <input type="file" id="video" name="video" accept="video/*" />
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <input type="submit" />
</form>